html{
    background-color: gray;
    color: white;
    font-family: sans-serif;
}
.body{
    text-align: center;
    position: relative;
    top: 25vh;
    box-sizing: border-box;
    font-size: 1.7rem;
}
button{

    background-color: darkviolet;
    color: white;
    font-size:1.7rem;
    border: none;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
button:hover{
    cursor: pointer;


}
